.content {
    box-sizing: border-box;
    padding: 1px 14px;
    width: 78%;
    height: 87%;
    z-index: -99;
    position: absolute;
    bottom: 0;
    flex-wrap: wrap;
    right: 0;
}

.content a{
    text-decoration: none;
}

.name{
    display: none;
}

.menu{
    display: none;
}