body{
	background: #E5E5E5;
}
 
.logo{
    width: 450px;
    display: block;
    margin: 50px auto 20px;
}

h1{
	text-align: center;
	font-weight: 300;
}
 
.tulisan_login{
	text-align: center;
}
 
.kotak_login{
	width: 350px;
	background: white;
	margin: 0 auto;
	padding: 10px 40px;
    border-radius: 5px;
    margin-bottom: 50px;
}

label{
	font-size: 10pt;
}
 
.form_login{
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 10pt;
    margin: 5px 0 10px 0;
    transition: 0.5s;
    border-radius: 10px;
    border: .5px solid #3a3a3a48;
}

.form_login:focus{
    outline: none !important;
    transition: 0.5s;
    border:1px solid #2b00d4;
}

form .bi {
    margin-left: -30px;
    cursor: pointer;
}

.forget_pw{
    text-decoration: none;
    color: #232323;
    float: right;
    margin-top: -5px;
}

.link:hover{
    color: #2b00d4;
}
 
.tombol_login{
	background: #2b00d4;
	color: white;
	font-size: 11pt;
	width: 100%;
    border: 1px solid #2b00d4;
	border-radius: 10px;
    transition: 0.5s;
	padding: 10px 20px;
    margin-top: 20px;
}

.tombol_login:hover{
    transition: 0.3s;
    background-color: white;
    border: 1px solid #2b00d4;
    color: #232323;
}

.link_login{
    color: #232323;
	font-size: 10pt;
}

.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}